@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
  display: none;
}

html,
body {
  @apply h-full;
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

section {
  position: relative;
}

.bg-wrapper {
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-bg {
  position: absolute;
  top: 140px;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%);
  pointer-events: none;
}
.z-500 {
  z-index: 500;
}
.z-50000 {
  z-index: 50000;
}

/* forms */
.toggle-checkbox:checked {
  @apply: right-0 border-fuchsia-500;
  right: 0;
  border-color: #f97316;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-fuchsia-500;
  background-color: #f97316;
}
input.border-b {
  padding-right: 0;
  padding-left: 0;
  font-size: 17px;
  appearance: none;
  border: none !important;
  border-bottom: 1px solid #c3ccda !important;
  outline: none;
  box-shadow: none !important;

  &:focus {
    border-bottom: 1px solid #ED21F1 !important;
    outline: none;
    transition: border-color 300ms ease-in-out;
  }
}
[type='radio']:checked {
  background-image: none !important;
}
[placeholder]:focus::placeholder {
  text-indent: -100%;
  transition: text-indent 0.35s ease-in-out; 
}

/* header */
#header {
  position: relative;
  z-index: 245;
}
#header header {
  position: fixed;
  width: 100%;
}

@media (width < 768px) {
  .logo svg {
    max-width: 150px;
  }
}

/* footer */
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: linear-gradient(90deg, #c082ff -2.98%, #ed21f1 89.65%);
}
#footer.bg-white {
  background-color: white;
  background-image: none;
}

address {
  font-style: normal !important;
}

/* bg-gradient */
.bg-gradient-1 {
  background-image: linear-gradient(90deg, #d597fc -2.98%, #f33de2 89.65%);
}
.bg-gradient-2 {
  background-image: linear-gradient(90deg, #c37bfe -2.98%, #ed21f1 89.65%);
}

/* gradient-line */
.gradient-bg-line-20 {
  height: 20px;
  background: linear-gradient(90deg, #c082ff -2.98%, #ed21f1 89.65%);
}
.gradient-bg-line-100 {
  height: 100px;
  background: linear-gradient(90deg, #c082ff -2.98%, #ed21f1 89.65%);
}

/* gallery */
.gallery-card-info {
  position: absolute;
  bottom: -120px;
  height: 120px;
  transition: all 350ms ease-in-out;
}
.group:hover .gallery-card-info {
  bottom: 0;
  z-index: 10;
  transition: all 350ms ease-in-out;
}
.gallery-card-info-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #ee21f18c;
}
.gallery-card-content {
  position: relative;
  z-index: 10;
  backdrop-filter: blur(10px);
}

.slide-up {
  /* opacity: 0; */
}
.fade-in {
  opacity: 0;
}

@media (width < 768px) {
  .login-btn {
    padding-right: 5vw;
    padding-left: 65px;
  } 
}
@media (width < 420px) {
  .login-btn {
    padding-right: 5vw;
    padding-left: 10vw;
  }
}

/* toastify */
:root {
  --toastify-color-progress-light: linear-gradient(
    to right,
    #c37bfe,
    #ed21f1
  ) !important;
  --toastify-color-progress-dark: #ed21f1;
}

/* dropdown */
@layer components {
  .dropdown:has(input:checked) {
    @apply 
      border 
      border-fuchsia-500 
      border-solid;
  }
  .card-label {
    @apply 
      flex gap-5 justify-between pr-2.5 mb-5 border border-solid border-neutral-200 w-full rounded-2xl
    ;
  }
  .card-label:has(input:checked) {
    @apply 
      border 
      border-solid
      border-fuchsia-500 ;
  }
}

.dropdown-container {
  overflow: hidden;
}

.truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.z-450 {
  z-index: 450;
}
.z-500 {
  z-index: 500;
}

.slider,
.title,
.item {}

.menu-item {}

/* intro */
.intro #logo_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  z-index: 40;
}
.intro #logo_wrapper .logo svg {
  width: 30vw;
  height: auto;
}
#intro_mask {
  z-index: 20;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#hero_mask {
  position: absolute;
  height: 102%;
  width: 102%;
  left: -1%;
  top: -1%;
  z-index: 50;
}

/* loader */
.loader .item {
	background: linear-gradient(90deg, #f8fafc, #ffffff, #f8fafc, #ffffff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

/* pswp */
/* .pswp.pswp--open {
  backdrop-filter: blur(20px);
}
.pswp__bg {
  opacity: 0.5;
  background: #ffffff78 !important;
}
.pswp .pswp__item {}
.pswp .pswp__item .pswp__zoom-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pswp .pswp__item .pswp__img--with-bg {
  background: transparent !important;
}
.pswp .pswp__item .pswp__img {
  width: auto !important;
  height: auto !important;
  position: relative !important;
  max-width: 90vw;
  max-height: 90vh;
}
.pswp .pswp__item .pswp__img--placeholder {
  width: auto !important;
  height: auto !important;
  transform: none !important;
  position: absolute !important;
  max-width: 90vw;
  max-height: 90vh;
} */
.gallery-card-img {}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}